{% extends 'base.html' %}
<script>
{% block jquery %}
  console.log('run ajax')
  var chart = '';
    $("#btn_gen").click(function(){
      var se = $("#arrform").serialize();
      // console.log(se);
      $.ajax({
        url: '/',
        data: se,
        type: 'post',
        success: function(response){
          console.log(response)
          setchart(response.arr, response.index);
          document.getElementById("id_arr").value = response.arr;
          // enable button after creating new array
          $("#btn_selection").prop('disabled',false);;
        }
      });  
    });
    $("#btn_selection").click(function(){
      // disable button while sorting
      $(this).prop('disabled',true);
      var se = $("#arrform").serialize();
      console.log(se);
      $.ajax({
        url: 'SelectionSort/',
        data: se,
        type: 'post',
        success: async function(response){
          console.log(response);
          extract2chart(response.arr, response.index);
        }
      });  
    });

function setchart(data, index){
  var l = data.length;
  var color = new Array(l);
  for (j=0; j<l;j++){
    if (j == index[0] || j == index[1]){
      color[j]= 'rgba(255, 0, 132, 1)';
    }
    else{
      color[j]= 'rgba(255, 99, 132, 0.2)';
    }

  }
  if(chart == '' ){
    var ctx2 = document.getElementById("myChart2");
      chart = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: data,
            datasets: [{
                label: '# of Votes',
                data: data,
                barThickness: 'flex',
                backgroundColor: color,
                borderColor: 'rgba(255,99,132,1)',
                borderWidth: 1
            }]
        },
        options: {
            animation:{
              duration: 0,
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    },
                }]
            }
        }
      });
          
    }
  else{
    if ((chart.config.data.datasets[0].data.length != l)){
      chart.reset();     
    }
    data = {
      labels: data,
      datasets: [{
        label: '# of Votes',
        data: data,
        barThickness: 'flex',
        backgroundColor: color,
        borderColor: 'rgba(255,99,132,1)',
        borderWidth: 1
      }]
    }
    chart.config.data = data;
    chart.update();
  }
};
async function  extract2chart(arr, index){
  var l = arr.length;
  // disable Generate button
  var bt_gen = document.getElementById("btn_gen");
  bt_gen.setAttribute('disabled','disabled');
  for(i=0; i<l; i++ ){
    document.getElementById("out1").value = arr[i];
    document.getElementById("cnt").value = i;
    setchart(arr[i], index[i]);
    await sleep(100);
  }
  // enable Generate button
  bt_gen.removeAttribute("disabled");

}
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
};
{% endblock %}
</script>

{% block content %}


<div class='col-8 mt-5' >
    <form class="form-inline" id="arrform">
        {% csrf_token %}
        {% for field in form %}
        <div class="mx-3">
          <p><b>{{field.label}}</b>: {{field}}
        </div>
        {%endfor%}
        <input type="button" name="generate" id="btn_gen" value="Generate" />
        <input type="button" name="selection_sort" id="btn_selection" value="Selection Sort" />
    </form>
        <input type="text" id="out1" name="in"/>
        <input type="text" id="cnt" name="cnt"/>
    <div class='col-8 mt-5'>
        <canvas id="myChart2" width="800" height="300"></canvas>
    </div>
</div>



{% endblock content %}
