{% extends 'base.html' %}
<script>
{% block jquery %}
  console.log('run ajax')
  var chart = '';
    $("#btn_gen").click(function(){
      var se = $("#arrform").serialize();
      // console.log(se);
      $.ajax({
        url: '/',
        data: se,
        type: 'post',
        success: async function(response){
          // console.log(response.arr);
          extract2chart(response.arr);
        }
      });  
    });
    $("#btn_selection").click(function(){
      var se = $("#arrform").serialize();
      console.log(se);
      $.ajax({
        url: 'SelectionSort/',
        data: se,
        type: 'post',
        success: async function(response){
          console.log(response.arr);
          extract2chart(response.arr);
        }
      });  
    });
function setchart(data, label){
  var l = data.length;
  if(chart == '' ){
    var ctx2 = document.getElementById("myChart2");
          chart = new Chart(ctx2, {
              type: 'bar',
              data: {
                  labels: label,
                  datasets: [{
                      label: '# of Votes',
                      data: data,
                      barThickness: 'flex',
                      backgroundColor: 'rgba(255, 99, 132, 0.2)',
                      borderColor: 'rgba(255,99,132,1)',
                      borderWidth: 1
                  }]
              },
              options: {
                  animation:{
                    duration: 0,
                  },
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          },
                      }]
                  }
              }
          });
          
    }
  else{
    if ((chart.config.data.datasets[0].data.length != l)){
      chart.reset();     
    }
    data = {
        labels: label,
        datasets: [{
            label: '# of Votes',
            data: data,
            barThickness: 'flex',
            backgroundColor: 'rgba(255, 99, 132, 0.2)',
            borderColor: 'rgba(255,99,132,1)',
            borderWidth: 1
        }]
    }
    chart.config.data = data;
    chart.update();
  }
    return chart;

};
async function  extract2chart(arr){
  var l = arr.length;
  // console.log(chart);
  // console.log("length");
  // console.log(arr[0].length);
  // console.log("chart");
  if(chart != ''){
    console.log(chart.config.data.datasets[0].data.length);
  }
  for(i=0; i<l; i++ ){
    var data = arr[i];
    document.getElementById("out1").value = data;
    document.getElementById("cnt").value = i;
    setchart(data, data);
    await sleep(1000);
  }
}
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
};
{% endblock %}
</script>

{% block content %}


<div class='col-8 mt-5' >
    <form class="form-inline" id="arrform">
        {% csrf_token %}
        {% for field in form %}
        <div class="mx-3">
          <p><b>{{field.label}}</b>: {{field}}
        </div>
        {%endfor%}
        <input type="button" name="generate" id="btn_gen" value="Generate" />
        <input type="submit" name="selection_sort" id="btn_selection" value="Selection Sort" />
    </form>
    <h1>Hello World</h1>
    {% if form.length.value == 5 %}
        <h1>{{form.length.value}}</h1>
        <h1>{{form.sorted_arr.value}}</h1>
        <input type="text" id="out1" name="in"/>
        <input type="text" id="cnt" name="cnt"/>
    {% else %}
        <h1>Hello World</h1>
    {% endif %}
    <div class='col-8 mt-5'>
        <canvas id="myChart2" width="800" height="400"></canvas>
    </div>
</div>



{% endblock content %}